@tailwind base;
@tailwind components;
@tailwind utilities;

.icon {
    svg {
        width: 1.5rem;
        height: 1.5rem;
        display: inline-block;
    }
}

html, body {
    height: 100%;
    min-height: 100vh;
}

@media (min-width: 640px) {
  body {
    position: relative;
    min-height: 100vh;
  }
}